<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAthleteLabel" jhiTranslate="fsjdaApp.athlete.home.createOrEditLabel">Create or edit a Athlete</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!athlete.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="athlete.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fsjdaApp.athlete.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="athlete.nom" required/>
            <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nom?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fsjdaApp.athlete.prenom" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                [(ngModel)]="athlete.prenom" required/>
            <div [hidden]="!(editForm.controls.prenom?.dirty && editForm.controls.prenom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.prenom?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fsjdaApp.athlete.sexe" for="field_sexe">Sexe</label>
            <select class="form-control" name="sexe" [(ngModel)]="athlete.sexe" id="field_sexe"  required>
                <option value="M">{{'fsjdaApp.Sexe.M' | translate}}</option>
                <option value="F">{{'fsjdaApp.Sexe.F' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.sexe?.dirty && editForm.controls.sexe?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sexe?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fsjdaApp.athlete.dateNaissance" for="field_dateNaissance">Date Naissance</label>
            <div class="input-group">
                <input id="field_dateNaissance" type="text" class="form-control" name="dateNaissance" ngbDatepicker  #dateNaissanceDp="ngbDatepicker" [(ngModel)]="athlete.dateNaissance"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.dateNaissance?.dirty && editForm.controls.dateNaissance?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateNaissance?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fsjdaApp.athlete.lieuNaissance" for="field_lieuNaissance">Lieu Naissance</label>
            <input type="text" class="form-control" name="lieuNaissance" id="field_lieuNaissance"
                [(ngModel)]="athlete.lieuNaissance" required/>
            <div [hidden]="!(editForm.controls.lieuNaissance?.dirty && editForm.controls.lieuNaissance?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lieuNaissance?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fsjdaApp.athlete.adresse" for="field_adresse">Adresse</label>
            <input type="text" class="form-control" name="adresse" id="field_adresse"
                [(ngModel)]="athlete.adresse" required/>
            <div [hidden]="!(editForm.controls.adresse?.dirty && editForm.controls.adresse?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.adresse?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fsjdaApp.athlete.telephone" for="field_telephone">Telephone</label>
            <input type="text" class="form-control" name="telephone" id="field_telephone"
                [(ngModel)]="athlete.telephone" required/>
            <div [hidden]="!(editForm.controls.telephone?.dirty && editForm.controls.telephone?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.telephone?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fsjdaApp.athlete.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="athlete.email" required/>
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
		
		<div  *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <div class="form-group" >
            <label class="form-control-label" jhiTranslate="fsjdaApp.athlete.dojoclub" for="field_dojoclub">Dojoclub</label>
            <select class="form-control" id="field_dojoclub" name="dojoclub" [(ngModel)]="athlete.dojoclub"  required>
                <option *ngIf="!editForm.value.dojoclub" [ngValue]="null" selected></option>
                <option [ngValue]="dojoClubOption.id === athlete.dojoclub?.id ? athlete.dojoclub : dojoClubOption" *ngFor="let dojoClubOption of dojoclubs; trackBy: trackDojoClubById">{{dojoClubOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.dojoclub?.dirty && editForm.controls.dojoclub?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.dojoclub?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
