
<div *ngIf="tarifCeinture">
    <h2><span jhiTranslate="fsjdaApp.tarifCeinture.detail.title">Tarif Ceinture</span> {{tarifCeinture.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fsjdaApp.tarifCeinture.ceinture">Ceinture</span></dt>
        <dd>
            <span>{{tarifCeinture.ceinture}}</span>
        </dd>
        <dt><span jhiTranslate="fsjdaApp.tarifCeinture.dateCreation">Date Creation</span></dt>
        <dd>
            <span>{{tarifCeinture.dateCreation | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="fsjdaApp.tarifCeinture.montant">Montant</span></dt>
        <dd>
            <span>{{tarifCeinture.montant}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"  *jhiHasAnyAuthority="'ROLE_ADMIN'"
            [routerLink]="['/', { outlets: { popup: 'tarif-ceinture/'+ tarifCeinture.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
