
<div *ngIf="ligue">
    <h2><span jhiTranslate="fsjdaApp.ligue.detail.title">Ligue</span> {{ligue.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fsjdaApp.ligue.name">Name</span></dt>
        <dd>
            <span>{{ligue.name}}</span>
        </dd>
        <dt><span jhiTranslate="fsjdaApp.ligue.president">President</span></dt>
        <dd>
            <span>{{ligue.president}}</span>
        </dd>
        <dt><span jhiTranslate="fsjdaApp.ligue.dateCreation">Date Creation</span></dt>
        <dd>
            <span>{{ligue.dateCreation | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="fsjdaApp.ligue.description">Description</span></dt>
        <dd>
            <span>{{ligue.description}}</span>
        </dd>
        <dt><span jhiTranslate="fsjdaApp.ligue.adresse">Adresse</span></dt>
        <dd>
            <span>{{ligue.adresse}}</span>
        </dd>
        <dt><span jhiTranslate="fsjdaApp.ligue.telephone">Telephone</span></dt>
        <dd>
            <span>{{ligue.telephone}}</span>
        </dd>
        <dt><span jhiTranslate="fsjdaApp.ligue.email">Email</span></dt>
        <dd>
            <span>{{ligue.email}}</span>
        </dd>
        <dt><span jhiTranslate="fsjdaApp.ligue.discipline">Discipline</span></dt>
        <dd>
            <div *ngIf="ligue.discipline">
                <a [routerLink]="['/discipline', ligue.discipline?.id]">{{ligue.discipline?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ligue/'+ ligue.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
