
<div *ngIf="ligue">
    <h2><span jhiTranslate="fsjdaApp.ligue.detail.title">Ligue</span> {{ligue.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    
    <table class="table table-striped">
      <dl class="row-md jh-entity-details">
    	<tbody>
    		<tr>
      			<th scope="row"><dt><span jhiTranslate="fsjdaApp.ligue.name">Name</span></dt></th>
      			<td><dd><span>{{ligue.name}}</span></dd></td>
      			
      			<th scope="row"><dt><span jhiTranslate="fsjdaApp.ligue.adresse">Adresse</span></dt></th>
      			<td><dd><span>{{ligue.adresse}}</span></dd></td>
      			
      			<th scope="row"><dt><span jhiTranslate="fsjdaApp.ligue.discipline">Discipline</span></dt></th>
      			<td><dd><div *ngIf="ligue.discipline"><a [routerLink]="['/discipline', ligue.discipline?.id]">{{ligue.discipline?.name}}</a></div></dd></td> 
      		</tr>
      		<tr>
      			<th scope="row"><dt><span jhiTranslate="fsjdaApp.ligue.president">President</span></dt></th>
      			<td><dd><span>{{ligue.president}}</span></dd></td>
      			
      			<th scope="row"><dt><span jhiTranslate="fsjdaApp.ligue.telephone">Telephone</span></dt></th>
      			<td><dd><span>{{ligue.telephone}}</span></dd></td>
      		</tr>
      		<tr>
      			<th scope="row"> <dt><span jhiTranslate="fsjdaApp.ligue.dateCreation">Date Creation</span></dt></th>
      			<td><dd><span>{{ligue.dateCreation | date:'mediumDate'}}</span></dd></td>
      			
      			<th scope="row"><dt><span jhiTranslate="fsjdaApp.ligue.email">Email</span></dt></th>
      			<td><dd><span>{{ligue.email}}</span></dd></td>
      		</tr>
      		<tr>
      			<th scope="row"><dt><span jhiTranslate="fsjdaApp.ligue.description">Description</span></dt></th>
      			<td><dd><span>{{ligue.description}}</span></dd></td>
      			
      			<th scope="row"><dt><span jhiTranslate="fsjdaApp.ligue.user">User</span></dt></th>
      			<td><dd>{{ligue.user?.login}}</dd></td>
      		</tr>
    	</tbody>
    	</dl>
    </table>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" *jhiHasAnyAuthority="'ROLE_ADMIN'"
            [routerLink]="['/', { outlets: { popup: 'ligue/'+ ligue.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
