
<div *ngIf="dojoClub">
    <h2><span jhiTranslate="fsjdaApp.dojoClub.detail.title">Dojo Club</span> {{dojoClub.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <table class="table table-striped">
    	<dl class="row-md jh-entity-details">
    		<tbody>
    			<tr>
      				<th scope="row"><dt><span jhiTranslate="fsjdaApp.dojoClub.name">Name</span></dt></th>
      				<td><dd><span>{{dojoClub.name}}</span></dd></td>
      			
      				<th scope="row"><dt><span jhiTranslate="fsjdaApp.dojoClub.president">President</span></dt></th>
      				<td><dd><span>{{dojoClub.president}}</span></dd></td>
      			
      				<th scope="row"><dt><span jhiTranslate="fsjdaApp.dojoClub.dateCreation">Date Creation</span></dt></th>
      				<td><dd><span>{{dojoClub.dateCreation | date:'mediumDate'}}</span></dd></td> 
      			</tr>
      			<tr>
      				<th scope="row"><dt><span jhiTranslate="fsjdaApp.dojoClub.description">Description</span></dt></th>
      				<td><dd><span>{{dojoClub.description}}</span></dd></td>
      			
      				<th scope="row"><dt><span jhiTranslate="fsjdaApp.dojoClub.adresse">Adresse</span></dt></th>
      				<td><dd><span>{{dojoClub.adresse}}</span></dd></td>
      			</tr>
      			<tr>
      				<th scope="row"><dt><span jhiTranslate="fsjdaApp.dojoClub.telephone">Telephone</span></dt></th>
      				<td><dd><span>{{dojoClub.telephone}}</span></dd></td>
      			
      				<th scope="row"><dt><span jhiTranslate="fsjdaApp.dojoClub.email">Email</span></dt></th>
      				<td><dd><span>{{dojoClub.email}}</span></dd></td>
      			</tr>
      			<tr>
      				<th scope="row"><dt><span jhiTranslate="fsjdaApp.dojoClub.user">User</span></dt></th>
      				<td><dd>{{dojoClub.user?.login}}</dd></td>
      			
      				<th scope="row"><dt><span jhiTranslate="fsjdaApp.dojoClub.ligue">Ligue</span></dt></th>
      				<td><dd><div *ngIf="dojoClub.ligue"><a [routerLink]="['/ligue', dojoClub.ligue?.id]">{{dojoClub.ligue?.name}}</a></div></dd></td>
      			</tr>
    	</tbody>
    </dl>
   </table>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"  *jhiHasAnyAuthority="'ROLE_ADMIN'"
            [routerLink]="['/', { outlets: { popup: 'dojo-club/'+ dojoClub.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
